<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
                        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
                        

<!-- 
	private String customerId;				// 회원아이디
	private String customerName;			// 회원이름
	private String customerPassword;		// 회원비밀번호
	private String customerPhonenumber;		// 회원전화번호
	private String customerEmail;			// 회원이메일
	private String customerAddress;			// 회원주소
	private String customerPostcode;		// 회원우편번호
	private String customerBirthday;		// 회원생년월일
	private String customerGender;			// 회원성별
	private String customerJacketSize;		// 회원상의사이즈
	private String customerPantsSize;		// 회원하의사이즈
	private String customerHeight;			// 회원신장
 -->
<!-- 네임스페이스(사용영역) 설정 -->
<mapper namespace="com.euishoe.customers">
	<!-- 로그인 인증 -->
	<select id="certify" resultType="Customer" parameterType="map">
		SELECT customer_id          "customerId", 
       		   customer_name        "customerName", 
       		   customer_password    "customerPassword", 
       		   customer_phonenumber "customerPhonenumber",
       		   customer_email       "customerEmail", 
       		   customer_address     "customerAddress", 
		       customer_postcode    "customerPostcode", 
		       customer_birthday    "customerBirthday", 
		       customer_gender      "customerGender", 
		       customer_jacket_size "customerJacketSize", 
		       customer_pants_size  "customerPantsSize", 
		       customer_height      "customerHeight",
		       customer_body		"customerBody",
		       customer_shoulder	"customerShoulder",
		       customer_arm			"customerArm",
		       customer_leg			"customerLeg"
		FROM   customers 
		WHERE  customer_id = #{customerId} 
       	AND    customer_password = #{customerPassword} 
	</select>

	<!-- 회원가입 -->
	<insert id="create" parameterType="com.euishoe.customers.dto.Customer">
		INSERT INTO customers 
		VALUES     ( #{customerId}, 
        		     #{customerName}, 
             		 #{customerPassword}, 
       			     #{customerPhonenumber}, 
             		 #{customerEmail}, 
             		 #{customerAddress}, 
             		 #{customerPostcode}, 
           		     #{customerBirthday}, 
      		         #{customerGender}, 
    		         #{customerJacketSize}, 
  		             #{customerPantsSize}, 
    		         #{customerHeight},
    		         1,
    		         1,
    		         1,
    		         1) 
	</insert>
	<!-- 회원정보 get -->
	<select id="getCustomerInfo" parameterType="java.lang.String" resultType="com.euishoe.customers.dto.Customer">
		SELECT customer_id          "customerId", 
       		   customer_name        "customerName", 
       		   customer_password    "customerPassword", 
       		   customer_phonenumber "customerPhonenumber",
       		   customer_email       "customerEmail", 
       		   customer_address     "customerAddress", 
		       customer_postcode    "customerPostcode", 
		       customer_birthday    "customerBirthday", 
		       customer_gender      "customerGender", 
		       customer_jacket_size "customerJacketSize", 
		       customer_pants_size  "customerPantsSize", 
		       customer_height      "customerHeight",
		       customer_body		"customerBody",
		       customer_shoulder	"customerShoulder",
		       customer_arm			"customerArm",
		       customer_leg			"customerLeg"
		FROM   customers
		WHERE  customer_id = #{customerId}	
	</select>
	
	<select id="customerOrderInfo" parameterType="String" resultType="map">
		select c.customer_name, 
       		   c.customer_phonenumber, 
       		   customer_address, 
       		   customer_postcode,
       		   sumPoint
		  from customers c join (select sum(point_history_score) sumPoint,
                           				point_histories.CUSTOMER_ID
                        			from point_histories
                      			group by point_histories.CUSTOMER_ID) ph
    						on c.customer_id = ph.CUSTOMER_ID
		 where c.customer_id =#{customerId}
	</select>
	
	
	<!-- 회원정보 수정 -->
	<update id="modifyInfo" parameterType="com.euishoe.customers.dto.Customer">
		UPDATE customers 
		SET    customer_password = #{customerPassword}, 
		       customer_phonenumber = #{customerPhonenumber}, 
		       customer_email = #{customerEmail}, 
		       customer_address = #{customerAddress}, 
		       customer_postcode = #{customerPostcode} 
		WHERE  customer_id = #{customerId}	
	</update>
	
	<!-- 회원 신체 정보 Customize 정보 UPDATE -->
	<update id="customize" parameterType="map">
		UPDATE customers
		SET	   customer_body = #{customerBody},
			   customer_shoulder = #{customerShoulder},
			   customer_arm = #{customerArm},
			   customer_leg =#{customerLeg}
		WHERE  customer_id = #{customerId}
	</update>
	
	<!-- 회원 신체 정보(Customize Information) 가져오는 Mapper -->
	<select id="getCustomizeInfo" parameterType="java.lang.String">
		select customer_body "customerBody",
			   customer_shoulder "customerShoulder",
			   customer_shoulder
			   
		
	
	</select>
	
</mapper>