<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<!-- home 페이지 -->
	<bean type="controller" name="/home" class="com.euishoe.home.controller.HomeController" />
	
	<!-- contact 페이지 -->
	<bean type="controller" name="/contact" class="com.euishoe.contact.controller.ContactController" />
	
	<!-- about 페이지 -->
	<bean type="controller" name="/about" class="com.euishoe.about.controller.AboutController" />
	
	<!-- 상품 -->
	<bean type="controller" name="/product" class="com.euishoe.products.controller.ProductController" />
	<!-- 상품 상세 관리 -->
	<bean type="controller" name="/product/details" class="com.euishoe.products.controller.ProductDetailController" />
	
	<!-- 고객관련 -->
	<bean type="controller" name="/customer/login" class="com.euishoe.customers.controller.CustomerLoginController" />
	<bean type="controller" name="/customer/logout" class="com.euishoe.customers.controller.CustomerLogoutController" />
	<bean type="controller" name="/customer/mypage" class="com.euishoe.customers.controller.CustomerPageController" />
	<bean type="controller" name="/customer/regist" class="com.euishoe.customers.controller.CustomerRegistController" />
	<bean type="controller" name="/customer/findme" class="com.euishoe.customers.controller.CustomerFindmeController" />
	
	<!-- 주문 -->
	<bean type="controller" name="/order" class="com.euishoe.orders.controller.OrderController" />
</beans>