<?xml version="1.0" encoding="UTF-8"?>
<beans>
	<!-- home 페이지 -->
	<bean type="controller" name="/home" class="com.euishoe.home.controller.HomeController" />
	<!-- contact 페이지 -->
	<bean type="controller" name="/contact" class="com.euishoe.contact.controller.ContactController" />
	<!-- about 페이지 -->
	<bean type="controller" name="/about" class="com.euishoe.about.controller.AboutController" />
	<!-- 상품 -->
	<bean type="controller" name="/product" class="com.euishoe.products.controller.ProductController" />
	<bean type="controller" name="/productAjax" class="com.euishoe.products.controller.ProductAjaxController" />
	<!-- 상품 상세 관리 -->
	<bean type="controller" name="/product/details" class="com.euishoe.products.controller.ProductDetailController" />
	
	<!-- 고객관련 -->
	<bean type="controller" name="/customer/login" class="com.euishoe.customers.controller.CustomerLoginController" />
	<bean type="controller" name="/customer/regist" class="com.euishoe.customers.controller.CustomerRegistController" />
	<bean type="controller" name="/customer/logout" class="com.euishoe.customers.controller.CustomerLogoutController" />
	<bean type="controller" name="/customer/mypage" class="com.euishoe.customers.controller.CustomerPageController" />
	<bean type="controller" name="/customer/mypage/mypurchase" class="com.euishoe.customers.controller.CustomerPurchaseController" />
	<bean type="controller" name="/customer/mypage/mypoint" class="com.euishoe.customers.controller.CustomerPointController" />
	<bean type="controller" name="/customer/mypage/myqna" class="com.euishoe.customers.controller.CustomerQnaController" />
	<bean type="controller" name="/customer/mypage/mycart" class="com.euishoe.customers.controller.CustomerCartController" />
	<bean type="controller" name="/customer/mypage/myfavorites" class="com.euishoe.customers.controller.CustomerFavoriteController" />
	<bean type="controller" name="/customer/mypage/myinfo" class="com.euishoe.customers.controller.CustomerInfoController" />
	<bean type="controller" name="/customer/findme" class="com.euishoe.customers.controller.CustomerFindmeController" />
	<bean type="controller" name="/customer/emailCertify" class="com.euishoe.customers.controller.CustomerEmailCertifyController" />
	<bean type="controller" name="/customer/customize" class="com.euishoe.customers.controller.CustomerCustomizeController" />
	<bean type="controller" name="/customer/idCheck" class="com.euishoe.customers.controller.IdDupCheckController"/>
	
	<!--review-->
	<bean type="controller" name="/review/write" class="com.euishoe.reviews.controller.ReviewCreateController" />
	<bean type="controller" name="/review/remove" class="com.euishoe.reviews.controller.ReviewRemoveController" />
	<bean type="controller" name="/review/ajaxList" class="com.euishoe.reviews.controller.ReviewListController"  />
	
	<!--qna-->
	<bean type="controller" name="/qna/write" class="com.euishoe.qnas.controller.QnaCreateController" />
	<bean type="controller" name="/qna/remove" class="com.euishoe.qnas.controller.QnaRemoveController" />
	<bean type="controller" name="/qna/ajaxList" class="com.euishoe.qnas.controller.QnaListController"  />
	
	<!-- 주문 -->
	<bean type="controller" name="/directorder" class="com.euishoe.orders.controller.GoToOrderController" />
	<bean type="controller" name="/order" class="com.euishoe.orders.controller.OrderController" />
	<bean type="controller" name="/ordersucc" class="com.euishoe.orders.controller.DoneOrderController" />
	<bean type="controller" name="/cart" class="com.euishoe.carts.controller.CartController"/>
	
	<!--comment-->
	<bean type="controller" name="/comment/read" class="com.euishoe.comments.controller.CommentReadController"  />
</beans>